<div class="row">
  <div class="col-md-6">
    <h5 style="text-align: center">Выберите пользователя</h5>
    <div class="row">
      <div class="col-md-10">
        <input type="search" id="formSearch" [(ngModel)]="search" class="form-control"/>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-secondary" (click)="selectedPage=0; getStudents(selectedPage, size)">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <br>
    <div *ngIf="serverError" class="alert alert-danger">{{serverError}}</div>
    <ul class="list-group">
      <li class="list-group-item interactive" *ngFor="let user of users" (click)="onUserClick(user.id)">
        <div class="row">
          <div class="col-md">
            <div class="row">
              <div class="col-md-12">
                <div>
                  <h6>{{user.login}}</h6>
                  <p>{{user.firstName}} {{user.lastName}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="container " align="center" style="margin-top: 20px">
      <div class="col -lg-12" align="center">
        <nav aria-label="..." style="text-align: center">
          <ul class="pagination justify-content-center">
            <li *ngFor="let page of ' '.repeat(userPage.totalPages).split(''), let i = index " (click)="onPageSelect(i)"
                [class.active]="i === selectedPage" class="page-item"><a class="page-link">{{i + 1}}</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h5 style="text-align: center">Выберите попытку</h5>
    <div *ngIf="serverError" class="alert alert-danger">{{serverError}}</div>
    <ul class="list-group">
      <li class="list-group-item interactive" *ngFor="let attempt of attempts" (click)="onAttemptClick(attempt.id)">
        <div class="row">
          <div class="col-md">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-9">
                    <h6>{{convertToDate(attempt.createdAt)}}</h6>
                  </div>
                  <div class="col-md-3">
                    <h6 *ngIf="isEstimated(attempt)">{{calculateGradeForAttempt(attempt)}}/10</h6>
                    <h6 *ngIf="!isEstimated(attempt)">Не оценено</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

