<h5 style="text-align: center">Пользователи</h5>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="student-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true" (click)="onStudentsClick()">Студенты</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="teacher-tab" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false" (click)="onTeachersClick()">Преподаватели</a>
  </li>
</ul>
<div class="row">
  <div class="col-md-11">
    <div *ngIf="serverError" class="alert alert-danger">{{serverError}}</div>
    <ul class="list-group">
      <li class="list-group-item interactive" *ngFor="let user of users">
        <div class="row">
          <div class="col-md">
            <div class="row">
              <div class="col-md-10">
                <div>
                  <h6>Логин: {{user.login}}</h6>
                  <p style="white-space: pre-wrap">Имя: {{user.firstName}} {{user.lastName}}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-end">
                <p class="d-inline">
                  <button class="btn btn-sm btn-outline-secondary" (click)="onEditUser(user.id)"><i
                    class="fas fa-edit fa-xs"></i></button>
                </p>
                <p class="d-inline">
                  <button class="btn btn-sm  btn-outline-secondary" data-toggle="modal" data-target="#deleteModal"
                          (click)="onSelectUser($event, user)"><i class="fas fa-trash-alt fa-xs"></i></button>
                </p>
              </div>
            </div>
            <!--            <div class="d-flex flex-row-reverse">-->
            <!--              {{db.createdAt | date:'medium'}}-->
            <!--            </div>-->
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-default btn-sm" (click)="onCreateUserClick()">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>

<div class="container " align="center" style="margin-top: 20px">
  <div class="col -lg-12" align="center">
    <nav aria-label="..." style="text-align: center">
      <ul class="pagination justify-content-center">
        <li *ngFor="let page of ' '.repeat(userPage.totalPages).split(''), let i = index " (click)="onPageSelect(i)"
            [class.active]="i === selectedPage" class="page-item"><a class="page-link">{{i + 1}}</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <strong>Удалить пользователя {{selectedUser.login}}?</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-secondary" (click)="onDeleteSelectedUser()">Удалить</button>
      </div>
    </div>
  </div>
</div>
