<div class="row">
  <div class="col-md-11">
    <div *ngIf="serverError" class="alert alert-danger">{{serverError}}</div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let db of dbs" (click)="onDbClick(db.id)">
        <div class="row">
          <div class="col-md">
            <div class="row">
              <div class="col-md-9">
                <div class="card border-0">
                  <h6>header</h6>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-end">
                {{db.author}}
              </div>
<!--              <div *ngIf="isCurrentAuthor">-->
<!--                <p class="d-inline"><button class="btn btn-sm btn-outline-secondary" (click)="onEditPost(db.id)"> <i class="fas fa-edit fa-xs"></i> </button> </p>-->
<!--                <p class="d-inline"><button class="btn btn-sm  btn-outline-secondary" data-toggle="modal" data-target="#modal1" (click)="onDeletePost(db.id)"> <i class="fas fa-trash-alt fa-xs"></i> </button></p>-->
<!--              </div>-->
            </div>
            <div class="row">
              <div class="col-md">
                <div class="card border-0" >
                  <p style="white-space: pre-wrap">{{db.name}}</p>
                </div>
              </div>
            </div>
<!--            <div class="d-flex flex-row-reverse">-->
<!--              {{db.createdAt | date:'medium'}}-->
<!--            </div>-->
          </div>

        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-default btn-sm" (click)="onCreateDbClick()">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>
