<h5 style="text-align: center">Тест: {{test.name}}</h5>
<div class="row">
  <div *ngIf="serverError" class="alert alert-danger">{{serverError}}</div>
  <div *ngIf="attempt && attempt.questions" class="col-md">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let question of attempt.questions">
        <div class="row">
          <div class="col-md">
            <p>{{attempt.questions.indexOf(question) + 1}}. &nbsp;{{question.text}}</p>
            <input type="number" [(ngModel)]="question.answer.grade" [max]="10" [min]="0" placeholder="Оценка">
            <div class="row">
              <div class="col-md-6">
                <p>Ответ студента: {{question.answer.text}}</p>
              </div>
              <div class="col-md-6">
                <p>Ваш ответ: {{getRightAnswer(question.id)}}</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <button class="btn btn-secondary" (click)="onEstimateAttempt()">Оценить попытку</button>
  </div>
</div>
