<h5 style="text-align: center">Попытки решения теста {{test.name}}</h5>
<div class="row">
  <div class="col-md-12">
    <div *ngIf="serverError" class="alert alert-danger">{{serverError}}</div>
    <ul class="list-group">
      <li class="list-group-item interactive" *ngFor="let attempt of attempts" (click)="onAttemptClick(attempt.id)">
        <div class="row">
          <div class="col-md">
            <div class="row">
              <div class="col-md">
                {{attempts.indexOf(attempt)+1}}. &nbsp;{{convertToDate(attempt.createdAt)}}
              </div>
              <div class="col-md-3 d-flex justify-content-end">
                <div *ngIf="isEstimated(attempt)">
                  {{attempt.mark}}
                </div>
                <div *ngIf="!isEstimated(attempt)">
                  Не оценено
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
