<div class="mx-auto">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div>
      <a class="navbar-brand" routerLink="/login">SQL-портал</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="user && user.role!=='ADMIN'" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/all-courses">Курсы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/all-dbs">Базы данных</a>
        </li>
      </ul>
    </div>
    <div *ngIf="user && user.role==='ADMIN'" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/all-users">Пользователи</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" routerLink="/all-dbs">Базы данных</a>-->
<!--        </li>-->
      </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav ">
        <li class="nav-item text-light" *ngIf="user!=null">
          <a class="nav-link text-light">{{user.firstName}} {{user.lastName}}</a>
        </li>
        <li class="nav-item text-light" *ngIf="user!=null">
          <a class="nav-link text-light" (click)="logout()">Выйти</a>
        </li>
      </ul>
    </div>
  </nav>

  <main class="container">
    <div class="container">
      <div class="justify-content-center w-100">
        <div class="row">
          <div class="col-md">
            <p></p>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>


