<div class="form-group">
  <label>База данных: {{database.name}}</label>
  <div class="container">
    <img [src]="'data:image/jpeg;base64,'+ dbInfo.schemaImage" *ngIf="dbInfo.schemaImage && !isExpanded">
    <img [src]="'data:image/jpeg;base64,'+ dbInfo.schemaImage" *ngIf="dbInfo.schemaImage && isExpanded">
    <button *ngIf="dbInfo.schemaImage && !isExpanded" class="resize-btn btn btn-outline-secondary btn-sm"
            (click)="onResizeSchema($event)"><i
      class="fas fa-expand-arrows-alt"></i></button>
    <button *ngIf="dbInfo.schemaImage && isExpanded" class="resize-btn btn btn-outline-secondary btn-sm"
            (click)="onResizeSchema($event)"><i
      class="fas fa-compress-arrows-alt"></i></button>
  </div>
  <ace-editor theme="github" mode="sql" style=" min-height: 150px; overflow: auto;"
              [(ngModel)]="inputQuery"></ace-editor>

  <!--  <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="inputQuery" rows="10"></textarea>-->
  <button class="btn btn-secondary" (click)="onExecuteClick(inputQuery)">Выполнить</button>
</div>
<div class="alert alert-danger" *ngIf="queryExecutableError">
  <span>{{queryExecutableError}}</span>
</div>
<div *ngIf="result && !result.length">
  <span>Result: {{result.length}} rows</span>
</div>
<div *ngIf="result && result.length">
  <span>Result: {{result.length}} rows</span>
  <table class="table table-bordered table-sm">
    <thead>
    <tr>
      <th scope="col" *ngFor="let colmnName of getColumnNames(result[0])">{{colmnName}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of result">
      <td *ngFor="let value of getRowValues(row)">{{value}}</td>
    </tr>
    </tbody>
  </table>
</div>
